#bgImageHome{
    background-image: url(../../../assets/images/menu.jpg);
}
#bgImage1{
    background-image: url(../../../assets//images/bannerApple.jpg);
}
#bgImage0{
    background-image: url(../../../assets//images/bannerRedgrapes.jpg);
}
#bgImage2{
    background-image: url(../../../assets//images/bannerOrange.jpg);
}
#bgImage3{
    background-image: url(../../../assets//images/bannerDates.jpg);
}
#bgImage4{
    background-image: url(../../../assets//images/bannerGrapes.jpg);
}
#bgImage5{
    background-image: url(../../../assets//images/bannerPomegranete.jpg);
}
